<section id="lodging">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h2 class="section-heading">Lodging</h2>
                <p style="margin: 2rem 0;">
                    <a href="https://www.wyndhamhotels.com/americinn/jefferson-wisconsin/americinn-by-wyndham-jefferson/overview?CID=LC:AA::GGL:RIO:National:fid&iata=00065402">AmericInn Jefferson</a><br>
                    (8 double bed, 2 single king, no elevator)
                </p>
                <p style="margin: 2rem 0;">
                    <a href="https://www.redlion.com/wi/lake-mills/americas-best-value-inn-lake-mills">America's Best Value Inn - Lake Mills</a><br>
                    (15 double bed rooms, no pool)
                </p>
            </div>
        </div>
    </div>
</section>
