    <section id="registry" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-6 pic">
                    <img class="pic" src="/img/fight.jpg" srcset="/img/ash-n-erin-3.jpg">
                </div>
                <div class="col-md-6">
                    <h2 class="section-heading text-center">REGISTRY</h2>
                    <p>We are registered at Bed Bath and Beyond, more coming soon</p>
                </div>
            </div>
        </div>
    </section>
