    <section id="registry" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-6 pic">
                    <img class="pic" src="/img/fight.jpg" srcset="/img/ash-n-erin-3.jpg">
                </div>
                <div class="col-md-6 text-center">
                    <h2 class="section-heading">REGISTRY</h2>
                    <a href="https://www.bedbathandbeyond.com/store/giftregistry/viewregistryguest/547055002?eventType=Wedding">Bed Bath & Beyond</a>
                    <a href="tgt.gifts/berg-catalani">Target</a>
                    <a href="https://www.amazon.com/wedding/erin-catalani-ashley-berg-lake-mills-july-2019/registry/2X8E2BUL57TJM">Bed Bath & Beyond</a>
                </div>
            </div>
        </div>
    </section>
